
/*Global*/

body {
   
    margin: auto;
    font-family: "Segoe UI Light", sans-serif;
    color: black;
}

h1{
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 34px;
    font-size: 33px;
}


/***************************
****************************
        HEADER
***************************
****************************
***************************/
.nav1{
    width: auto;
    background-color: #D3D3D3;
    min-height: 30px;
    margin-bottom: 0;
    border:0;
}

.nav1 .navbar-brand{
    padding: 0;
    padding-top: 6px;
    height: 30px;
}

.nav1 .black-text > li > a {
   color: black;
   font-size: 13px;
}

.nav1 .navbar-brand img{
    height: 22px;
}

a.dropdown-toggle.account-btn {
    color: #919294;
    font-size: 16px;
    padding-top: 5px;
    font-weight: 500;
}

.nav1 a.dropdown-toggle{
    padding-top: 5px !important;
}


.nav1 ul li a.dropdown-toggle{
    margin: 0;
    padding: 0 15px;
}

fa-shopping-cart {
    color: grey;
}

.country-drop-menu li{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #7C7C7C;
}

.underline:hover{
    text-decoration: underline;
}

/* Welcome MSG */
.welcome-msg{
    font-size: 17px;
    padding-top: 19px;
    padding-bottom: 14px;
}

/* Main Navagition */
.navbar {
    border-radius: 0;
}
.nav2 {
    border-top-width: 0;
    background-color: #C3C5C8;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #7C7C7C;
    margin-bottom: 0;
}

.nav2 img{
    padding-top: 20px;
}

.head-border {
    background: linear-gradient(to bottom,
    rgb(255, 255, 255),
    rgb(222, 222, 222));
    padding-bottom: 10px;
}

.main-menu ul {
    display: inline; 
    float: left;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-transform: uppercase;
}


.main-menu ul li ul{
    text-transform: none;
}

.main-menu li {
    color: black;
    font-size: 17px;
    display: inline; 
    float: left;
    border-left: 1px solid #7a7a7a; 
}


.main-menu li:hover { 
    background-color: #CFCFCF;
}

.main-menu li:nth-child(6) {
     border-right: 1px solid #7a7a7a; 
}

.main-menu li a {
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 20px 13px;
    margin: 0;
}



/* hover effects for main nav*/

.main-menu ul .green-menu ul{
    visibility:hidden;
    height: 45px;
    border:none;
    padding-bottom: 50px;
    padding-top: 0;
    margin-bottom: 15px;
}

.drop-style{
    height: 45px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.main-menu ul li ul li ul {
    margin-top: 10px;
}

.main-menu ul li:hover ul, .main-menu ul li.over ul {
  display: block;
  opacity: 1;
  visibility: visible
}

.main-menu ul li ul li { 
    height: 45px;
    background-color: #9AC652; 
    display: block; 
    color: white;
    text-indent: 15px ;
    font-weight: bolder;
    width: 240px; 
    height: 35px;
    border: none;
    padding-top: 10px
}

.main-menu ul li ul li:hover { 
    background-color: #9AC652;
}

.main-menu ul li ul li ul li{
    height: 45px;  
    background-color: #9ED741; 
}

.main-menu ul li ul li ul li:hover{
    height: 45px;  
    background-color: #A2D056; 
}

.main-menu ul li:hover ul ul, .main-menu ul li.over ul ul{
    display:none;
    background-color: #A2D056
}


/* hover effects for main nav*/

.main-menu ul .blue-menu ul{
    visibility:hidden;
    height: 45px;
    border:none;
    padding-bottom: 50px;
    padding-top: 0;
    margin-bottom: 15px;
}

.drop-style{
    height: 45px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.main-menu ul .blue-menu ul li ul {
    margin-top: 10px;
}

.main-menu ul .blue-menui:hover ul, .main-menu ul .blue-menu.over ul {
  display: block;
  opacity: 1;
  visibility: visible
}

.main-menu ul .blue-menu ul li { 
    height: 45px;
    background-color: #24B5D4; 
    display: block; 
    color: white;
    text-indent: 15px ;
    font-weight: bolder;
    width: 240px; 
    height: 35px;
    border: none;
    padding-top: 10px
}

.main-menu ul .blue-menu ul li:hover { 
    background-color: #24B5D4;
}

.main-menu ul .blue-menu ul li ul li{
    height: 45px;  
    background-color: #11C1E7; 
}

.main-menu ul .blue-menu ul li ul li:hover{
    height: 45px;  
    background-color: #26BEDF; 
}

.main-menu ul li:hover ul ul, .main-menu ul li.over ul ul{
    display:none;
    background-color: palevioletred
}

.main-menu ul ul li:hover ul, .main-menu ul ul li.over ul{
    display: block;
}

.nav2 .navbar-nav li a {
    color: black;
}

.remove-left-border{
    border-left-width: 0!important;
}

.add-right-border{
   border-right: 1px solid #7a7a7a;
}

/* Banner / Jumbotron*/


#main-banner {
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #7C7C7C;
}


/* Middle Content */

img.demo {
    width: 100%;
}

.center-banner-style p, .center-banner-style a {
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 0;
    text-decoration: none;
}

#middle{
    margin-bottom: 77px;
}

#middle div div div > p{
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;
}

.center-banner-style{
    margin-bottom: 15px;
}

.center-banner1 p {
    background-color: #9ac652;
}

.center-banner2 p {
    background-color: #24B5D4;
}

.center-banner3 p {
    background-color: #EF6431;
}

.center-banner4 p {
    background-color: #7E888D;
}


[data-toggle="textcollapse"] {
    font-size: 30px;
    font-weight: bold;
    color: #428bca !important;
    cursor: pointer; 
}

.cart-style{
    font-size:20px; 
    border-radius:0px; 
    margin-bottom:10px;
}

/* Footer */
hr {
    border-width: 0;
    background-color: #c3c5c8;
    height: 2px;
    width: 100%;
    border-bottom: 2px solid #e1e2e3;
}

footer{
    height: 136px;
}

.bottom-menu-left {
    margin-top: 15px;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}

.copyright {
    font-size: 14px;
    color: darkgray;
    text-transform: uppercase;
    padding-left: 0;
}

footer .container{
    padding-left: 0;
}

.bottom-links a{
    color:black;

}

/* MODAL */

.modal-body{
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}



.modal#myModal .modal-dialog .modal-content {
    border-top: 4px solid #24b5d4;
}

.modal .modal-dialog .modal-content {
    border-radius: 0;
}

.modal#myModal .modal-dialog .modal-content .modal-body {
    padding: 0;
}

.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
    color: black;
    font-weight: 500;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
}

.modal#myModal .modal-dialog .modal-content .modal-header {
    padding: 8px 15px 15px 15px;
}

.modal#myModal .modal-dialog {
    width: 400px;
}

.modal-dialog {
    position: relative;
    z-index: 1050;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.modal#myModal .modal-dialog .modal-content .modal-footer {
    margin: 0;
    padding: 13px;
}

.modal-footer {
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.cancel-text{
    color: #24b5d4;
    cursor: pointer;
    font-family: 'Enzo Light';
    font-size: 21px;
    font-weight: 200;
    background: none;
    outline: 0;
    border: 0;
    text-transform: uppercase;
}

.modal#myModal .modal-dialog .modal-content .modal-footer .circle-border {
    width: 10px;
    height: 10px;
    border: 2px solid #24b5d4;
    border-radius: 15px;
    padding: 0 6px;
    text-decoration: none;
    text-transform: uppercase;
}

.country-flags{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.country-flags li{
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 10px;
}

.remove-bot-border{
    border-bottom: none!important;
}