
/*Global*/

body {
    overflow-x: hidden;
    margin: auto;
    font-family: "Segoe UI Light", sans-serif;
    color: black;
}

.bob {
    display: inline-block;
}

a:link {
    color: BLACK;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

/* Header */

.account-btn {
    color: #919294;
    font-size: 16px;
    margin: 5px 20px 0 20px;
}

fa-shopping-cart {
    color: grey;
}

.nav1 {
    background-color: #D3D3D3;
}

/* Main Navagition */

.nav2 {
    background-color: #C3C5C8;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #7C7C7C;
}

.head-border {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(222, 222, 222));
    padding-bottom: 10px;
}

.main-menu {
}

.main-menu ul {
    display: inline; 
    float: left;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-transform: uppercase;
}

.main-menu li {
    color: black;
    font-size: 17px;
    display: inline; 
    float: left;
    border-left: 1px solid #7a7a7a; 
}


.main-menu li:hover { 
    background-color: #CFCFCF;
}

.main-menu li:nth-child(6) {
     border-right: 1px solid #7a7a7a; 
}

.main-menu li a {
    color: black;
    display: inline-block;
    text-decoration: none;
    color: #7a7a7a;
    padding: 20px 13px;
    margin: 0;
}

/* hover effects for main nav*/

.main-menu ul li ul{
    visibility:hidden;
}

.main-menu ul li:hover ul, .main-menu ul li.over ul {
  display: block;
  opacity: 1;
  visibility: visible
}

.main-menu ul li ul li ul {
  padding: 0;
}

.main-menu ul li ul li { 
    background-color: #A2D056; 
    display: block; 
    color: white;
    text-indent: 15px ;
    font-weight: bolder;
    width: 240px; 
    height: 35px;
    border: none;
    padding-top: 10px
}

.main-menu ul li ul li:hover { 
    background-color: #9AC652;
}

.main-menu ul li:hover ul ul, .main-menu ul li.over ul ul{
    display:none;
    background-color: #A2D056
}

.main-menu ul ul li:hover ul, .main-menu ul ul li.over ul{
    display: block;
}






/* Banner / Jumbotron*/

.jumbotron {
    width: auto;
    height: 415px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #7C7C7C;
    overflow: hidden;
}


/* Middle Content */

img.demo {
    width: 100%;
}

.center-banner-style p, .center-banner-style a {
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 0;
    text-decoration: none;
}

.center-banner1 p {
    background-color: #9ac652;
}

.center-banner2 p {
    background-color: #24B5D4;
}

.center-banner3 p {
    background-color: #EF6431;
}

.center-banner4 p {
    background-color: #7E888D;
}

/* Footer */

hr {
    border-width: 0;
    background-color: #c3c5c8;
    height: 2px;
    width: 100%;
    border-bottom: 2px solid #e1e2e3;
}

footer {
    height: 136px;
}

.bottom-menu-left {
    margin-top: 15px;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}

.copyright {
    font-size: 17px;
    color: darkgray;
    text-transform: uppercase;
    padding-top: 0px;
}
