
/*Global*/

body {
   
    margin: auto;
    font-family: "Segoe UI Light", sans-serif;
    color: black;
}

.bob {
    display: inline-block;
}

a:link {
    color: BLACK;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}



/* Header */

.account-btn {
    color: #919294;
    font-size: 16px;
    margin: 5px 20px 0 20px;
}

fa-shopping-cart {
    color: grey;
}

.nav1 {
    background-color: #D3D3D3;
}

.country-drop-menu li{
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #7C7C7C;
}



/* Main Navagition */

.nav2 {
    background-color: #C3C5C8;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #7C7C7C;
    margin-bottom: 0;
}

.head-border {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(222, 222, 222));
    padding-bottom: 10px;
}

.main-menu {
}

.main-menu ul {
    display: inline; 
    float: left;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    text-transform: uppercase;
}

.main-menu li {
    color: black;
    font-size: 17px;
    display: inline; 
    float: left;
    border-left: 1px solid #7a7a7a; 
}


.main-menu li:hover { 
    background-color: #CFCFCF;
}

.main-menu li:nth-child(6) {
     border-right: 1px solid #7a7a7a; 
}

.main-menu li a {
    color: black;
    display: inline-block;
    text-decoration: none;
    color: #7a7a7a;
    padding: 20px 13px;
    margin: 0;
}

/* hover effects for main nav*/

.main-menu ul li ul{
    visibility:hidden;
}

.main-menu ul li:hover ul, .main-menu ul li.over ul {
  display: block;
  opacity: 1;
  visibility: visible
}

.main-menu ul li ul li ul {
  padding: 0;
}

.main-menu ul li ul li { 
    background-color: #A2D056; 
    display: block; 
    color: white;
    text-indent: 15px ;
    font-weight: bolder;
    width: 240px; 
    height: 35px;
    border: none;
    padding-top: 10px
}

.main-menu ul li ul li:hover { 
    background-color: #9AC652;
}

.main-menu ul li:hover ul ul, .main-menu ul li.over ul ul{
    display:none;
    background-color: #A2D056
}

.main-menu ul ul li:hover ul, .main-menu ul ul li.over ul{
    display: block;
}


/* Banner / Jumbotron*/


#main-banner {
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #7C7C7C;
}


/* Middle Content */

img.demo {
    width: 100%;
}

.center-banner-style p, .center-banner-style a {
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 0;
    text-decoration: none;
}

.center-banner1 p {
    background-color: #9ac652;
}

.center-banner2 p {
    background-color: #24B5D4;
}

.center-banner3 p {
    background-color: #EF6431;
}

.center-banner4 p {
    background-color: #7E888D;
}

/* Footer */

#sitefooter #top-footer {
    background-color: #fff;
    padding: 50px 0;
}

#sitefooter {
    color: #27425e;
    font-family: "Enzo Medium";
    font-size: 14px;
    text-transform: uppercase;
}


#sitefooter #top-footer .policylink-container div {
    display: block;
    min-height: 35px;
}

#sitefooter #top-footer .policylink-container div .policy-link {
    color: #27425e;
    display: block;
    position: absolute;
    bottom: 0;
    font-size: 14px;
}

a:active, a:visited, a:focus {
    outline: 0;
    border: 0;
}












hr {
    border-width: 0;
    background-color: #c3c5c8;
    height: 2px;
    width: 100%;
    border-bottom: 2px solid #e1e2e3;
}

footer {
    height: 136px;
}

.bottom-menu-left {
    margin-top: 15px;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}

.copyright {
    font-size: 14px;
    color: darkgray;
    text-transform: uppercase;
    padding-top: 0px;
}










/* MODAL */
.modal#myModal .modal-dialog .modal-content {
    border-top: 4px solid #24b5d4;
}

.modal .modal-dialog .modal-content {
    border-radius: 0;
}

.modal#myModal .modal-dialog .modal-content .modal-body {
    padding: 0;
}

.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
}

.modal#myModal .modal-dialog .modal-content .modal-header {
    padding: 8px 15px 15px 15px;
}

.modal#myModal .modal-dialog {
    width: 400px;
}

.modal-dialog {
    position: relative;
    z-index: 1050;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.modal#myModal .modal-dialog .modal-content .modal-footer {
    margin: 0;
    padding: 13px;
}

.modal-footer {
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.cancel-text{
    color: #24b5d4;
    cursor: pointer;
    font-family: 'Enzo Light';
    font-size: 22px;
    background: none;
    outline: 0;
    border: 0;
    text-transform: uppercase;
}

.modal#myModal .modal-dialog .modal-content .modal-footer .circle-border {
    width: 10px;
    height: 10px;
    border: 2px solid #24b5d4;
    border-radius: 15px;
    padding: 0 6px;
    text-decoration: none;
    text-transform: uppercase;
}



